@model IEnumerable<MyMeetings.Models.ApplicationUser>

@{
    ViewBag.Title = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowUsers</h2>

<table>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                <input id="@m.Id" type="radio" name="role" value=@m.Id class="user-id"/>
            </td>
            <td>
                <p>@m.UserName </p>
            </td>

        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/commonscripts/roles/roleanduserhandler.js")
}