@using PagedList.Mvc;
@model MyMeetings.Models.ChatViewModels.ChatViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>@Model.Name</h2>

<div>@Model.Author</div>
<div>@Model.DateOfCreate</div>*@
@*<hr>
<div id="messages"></div>*@
<div id="results"></div>
@*@Ajax.BeginForm("FirstPage", new {chatid=Model.Id}, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "results" }, new {  @method = "get" })*@
@*<script type="text/jscript">
        function AddMessage() {
            var data = { chatId: $("#chat-id").val(), message: $("#message").val() };
            $.post("Discuss/Addmessage", data)
        };
    </script>*@
<script type="text/javascript">
    var elements = document.getElementsByTagName("footer");
    for (i = 0; i < elements.length-1; i++) {
        elements[i].remove();
    }
</script>
<script type="text/javascript">{
      $(document).ready(function ()
      url="Discuss/First?"+data.@Model.Id;
      $('#results').load(url);
      });
</script>


@section Scripts {
    @Scripts.Render("~/scripts/jquery-1.7.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Styles.Render("~/Content/Pagestyles/discuss-messages.css")
    @Styles.Render("~/Content/PagedList.css")
}

