@using PagedList.Mvc;
@model PagedList.IPagedList<MyMeetings.Models.ChatViewModels.ChatMessageModelView>


@foreach (var item in Model)
{
    <div class="message-block">
        <div>@item.Text</div>
        <div>@item.Author</div>
        <div>@item.DateOfCreate</div>
    </div>
}
<br /> Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Messages",new {chatId=ViewBag.ChatId,page=page }))
@*@Html.PagedListPager(Model, page => Url.Action("Messages",new {chatId=ViewBag.ChatId,page=page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "messages" })))*@