@model PagedList.IPagedList<MyMeetings.Models.ApplicationUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователи</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Отметка</th>
        <th>Логин</th>
    </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                <input id="@m.Id" type="radio" name="role" value=@m.Id class="user-id"/>
            </td>
            <td>
                <p>@m.UserName </p>
            </td>
            @*<td>
        <a href='@Url.Action("UserDetails", "Moderation", new {id = m.Id})'>
            <img src="~/Content/images/UserInfo.png" width="13" height="13" new class="userInfo"><img/>
        </a>
    </td>*@

            <td>
                <a class="userInfo" href='@Url.Action("UserDetails", "Moderation", new {id = m.Id})'>
                    <img src="~/Content/images/UserInfo.png" width="18" height="18"><img/>
                </a>
            </td>
        </tr>
    }
</table>
@*<ul id="list-of-roles">

</ul>*@
<label class="checkbox-inline" id="list-of-roles">
    
</label>
<p>
        <a class="btn btn-default btn-save">Save</a>
    </p>

    <br /> Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ShowUsers", new { page }))
    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
        @Scripts.Render("~/scripts/commonscripts/roles/roleanduserhandler.js")
        <script type="text/javascript">

            $(function () {
                $.ajaxSetup({ cache: false });
                $(".userInfo").click(function (e) {
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
        </script>
    }
